<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style >
            div{
                display: block;
                margin: auto;
                max-height: 500px;
                max-width: 500px;
                background-color: grey;
                padding: 5%;
                }
        </style>
    </head>
    <body>
        <div>
            <a href="">Home</a>
            <a href="about">About</a>
            <a href="news">News</a>
            <a href="blogposts">Blogs</a>
            <p>About page</p>
        </div>
    </body>
</html>