<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style >
            div{
                display: block;
                margin: auto;
                max-height: 500px;
                max-width: 500px;
                padding: 5%;
                background-color: palevioletred;
                }
            a{
                margin: 2%;
            }  
        </style>
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/news">News</a>
            <a href="/blogposts">Blog</a>
            <p>Home page</p>
        </div>
    </body>
</html>